<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Distant</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Distant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Profile", "Account")">Профиль</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Function", "Admin")">Функционал</a>
                                </li>
                            }
                            @if (User.IsInRole("Lecturer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Lessons", "Lecturer")">Уроки</a>
                                </li>
                            }
                            @if (User.IsInRole("Student"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AvailableLessons", "Student")">Уроки</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("MyResults", "Student")">Мои результаты</a>
                                </li>

                            }
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Logout", "Account")">Выход</a>
                            </li>
                        }
                      
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Account")">Войти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Register", "Account")">Зарегистрироваться</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content">
            @RenderBody() <!-- Здесь будет отображаться содержимое каждого представления -->
        </div>
    </div>

    <footer class="bg-light text-center py-3">
        <p>&copy; Дистанционное обучение студента. КовалеваМС</p>
    </footer>

    <!-- Подключение общих скриптов -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>

    <!-- Рендеринг секции Scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
