<h2>Редактировать урок</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Ошибка!</strong> Пожалуйста, исправьте ошибки в форме.
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form asp-action="EditLesson" asp-controller="Lecturer" method="post">
    <!-- Скрытое поле для Id -->
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="Name">Название</label>
        <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" value="@Model.Name" />
    </div>

    <div class="form-group">
        <label>Выберите группы</label>
        <select class="form-control" name="groupIds" multiple>
            @foreach (var group in (MultiSelectList)ViewBag.Groups)
            {
                <option value="@group.Value" @(group.Selected ? "selected" : "")>@group.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
