@model distant.Models.Test

<h2>@Model.Title</h2>

<h3>Вопросы</h3>
<ul>
    @if (Model.Questions != null && Model.Questions.Any())
    {
        foreach (var question in Model.Questions)
        {
            <li>
                <p><strong>@question.Text</strong></p>
                <p>Варианты ответа: @question.Options</p>
                <p>Правильный ответ: @question.CorrectAnswer</p>
            </li>
        }
    }
    else
    {
        <p>Вопросы отсутствуют.</p>
    }
</ul>

<a href="@Url.Action("AddQuestion", "Lecturer", new { testId = Model.Id })" class="btn btn-secondary">Добавить вопрос</a>
@*<a href="@Url.Action("EditTest", "Lecturer", new { id = Model.Id })" class="btn btn-primary">Редактировать тест</a>*@

<a href="@Url.Action("TestResults", "Lecturer", new { testId = Model.Id })" class="btn btn-primary">Посмотреть результаты</a>
